@import 'node_modules/bootstrap/scss/bootstrap';
@import '../../scss/style.scss';

.blog-title {
	padding-top: 4em;
	padding-bottom: 4em;

	h1 {
		text-align: center;
		font-weight: 100;
	}
}

.container-main {
	max-width: 800px;
}

.hr-full {
	width: 100%;
	padding: 0;

	height: $border-thin;
	border: none;
	background-color: $color-border-light;
}

@include mobile {
	.blog-title {
		h1 {
			font-size: 2rem;
		}

		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.google-ads {
	text-align: center;
	margin: 4rem auto;
	max-width: 800px;
	min-width: 200px;
}

footer {
	text-align: center;
	color: $color-text-lighter;

	a {
		color: $color-text-lighter;
	}

	.footer-inner {
		.logos {
			margin-top: 1rem;
			.logo {
				width: 48px;
				transition-duration: 0.5s;
			}

			.logo:hover {
				transform: rotate(180deg);
			}
		}

		.blog-footer {
			margin-top: 1.5rem;
			margin-bottom: 3rem;
			width: 100%;
		}
	}
}
