@import "//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}
