.container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.container a {
  text-decoration: none;
  color: inherit;
  color: #888;
}

.titleBox {
  width: fit-content;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.description {
  margin: 1rem 0;
}

.scrollDown {
  position: absolute;
  top: calc(100% - 4rem);
  left: 50%;
  transform: translateX(-50%);
}

.posts {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.posts a {
  color: inherit;
  white-space: pre-wrap;
}
