.container {
  width: 100%;
  min-height: 100%;
}

.container a {
  text-decoration: none;
  color: inherit;
  color: #888;
}

.titleBox {
  display: flex;
  flex-direction: column;
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  flex-grow: 1;
}

.title {
  font-size: 1.25rem;
}

.scrollDown {
  text-align: center;
}

.posts {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.posts a {
  color: inherit;
  white-space: pre-wrap;
}
