.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  min-height: 100%;
}

.container a {
  text-decoration: none;
  color: #888;
}

.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  font-size: 1.5rem;
  text-align: center;
  color: #000;
}

.title {
  text-align: center;
}

.date {
  text-align: center;
}

.content {
  line-height: 1.8rem;
  text-rendering: optimizeLegibility;
}

.content a {
  word-break: break-all;
}

.content img,
.content video {
  max-width: 80%;
  min-width: 25%;
  display: block;
  margin: 1rem auto;
}

.content iframe {
  width: 100%;
  min-height: 400px;
  display: block;
  margin: 1rem auto;
  border: none;
}

.content h1 {
  font-size: 1.75rem;
  margin-top: 3rem;
}

.content h2 {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.content h3 {
  font-size: 1.25rem;
  margin-top: 3rem;
}

.content h4 {
  font-size: 1rem;
}

.content pre code {
  display: block;
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
  border: 1px solid #aaa;
}

.content p {
  overflow-x: scroll;
}

.content blockquote {
  border: 1px solid #aaa;
  padding: 0 1rem;
  margin: 1rem 0;
}

.separator {
  text-align: center;
}

.nav {
  margin-top: 2rem;
}

.next {
  margin-top: 1rem;
}

.nav a {
  color: inherit;
}
