.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
}

.form input {
  width: 10rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.form textarea {
  width: 100%;
  height: 3rem;
  resize: none;
  padding: 0.25rem;
  margin-bottom: 1rem;
  word-break: break-all;
}
