@import '../../scss/style.scss';

.aboutpage {
	max-width: 1024px;
	padding-left: 6rem;
	white-space: normal;
	word-break: keep-all;

	h1 {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	h2 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	a {
		position: relative;
	}

	a:hover {
		padding-left: 0.2rem;
	}

	a::after {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0.05rem;
		content: '';
		background-color: $color-background-dark;
		height: 10px;
		height: 0.4rem;
	}

	p {
		margin-top: 0.5rem;
		margin-bottom: 0.1rem;
	}

	.project-item {
		padding-bottom: 1.5rem;
		position: relative;

		p {
			margin-top: 0rem;
			margin-bottom: 0.1rem;
		}
	}

	.project-group {
		.group-title {
			position: absolute;
			display: inline;
			font-weight: bold;
			transform: translateX(-100%) translateX(-3rem);
		}
		.group-label {
			position: absolute;
			display: inline;
			font-size: 0.8rem;
			color: $color-text-light;
			transform: translateX(-100%) translateX(-3rem) translateY(1.5rem);
		}
	}

	@mixin vertical {
		h1 {
			margin-top: 0rem;
			margin-bottom: 2rem;
		}

		ul {
			padding-left: 0rem;

			li {
				margin-left: 1rem;
			}
		}

		a {
			max-width: 100%;
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.project-group {
			margin-top: 0.5rem;
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;

			.group-title {
				position: static;
				margin-right: 1rem;
			}

			.group-label {
				position: static;
			}
		}
	}

	@include tablet {
		padding: 3rem;
		@include vertical();
	}

	@include mobile {
		padding: 2rem;
		@include vertical();
	}
}
