.title {
  text-align: center;
  margin: 2rem;
  margin-bottom: 1rem;
}

.main {
  word-break: break-all;
}

.main p {
  line-height: 1.8rem;
}

.main li {
  line-height: 1.8rem;
}

.main img {
  max-width: 80%;
  min-width: 25%;
  display: block;
  margin: 1rem auto;
}

.main iframe {
  max-height: 800px;
  width: 100%;
  border: none;
  margin: 1rem 0;
}

.main pre > code {
  display: block;
  overflow-x: auto;
  padding: 0.5rem 0.775rem 0.5rem 0.775rem;
}

.main blockquote {
  background-color: rgba(0, 0, 0, 0.075);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
}

.main blockquote p {
  margin: 0;
}

.list,
.listSelected {
  margin-bottom: 0.5rem;
}
.listSelected {
  font-weight: bold;
}
