// Media query breakpoints
$breakpoint-tablet-min: 768px;
$breakpoint-desktop-min: 1024px;

// Colors
$color-text-default: #515151;
$color-text-dark: scale-color($color-text-default, $lightness: -40%);
$color-text-light: scale-color($color-text-default, $lightness: +40%);
$color-text-lighter: #d8d8d8;
$color-text-a: #007bff;

$color-background-default: #00000008;
$color-background-dark: #00000010;
$color-background-light: #00000002;

$color-border-default: #d0d0d0;
$color-border-light: #e0e0e0;

$border-default: 1px;
$border-thin: 0.1px;
$border-thick: 2px;
