@import '../../scss/style.scss';

.blog-nav {
	text-transform: uppercase;
	text-align: center;
	padding-left: 1.25rem;
	padding-top: 1rem;

	.title {
		display: inline;
		font-weight: bold;
	}

	.title,
	.menu {
		margin-right: 1rem;
	}

	@include desktop {
		text-align: left;
	}
}
