@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import 'node_modules/bootstrap/scss/bootstrap';

a {
  color: #000;
  border-bottom: solid 0px;
}

a:hover {
  color: #666;
  text-decoration: none;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  overflow-y: scroll;
}

.blog-title {
  padding-top: 4em;
  padding-bottom: 4em;
}

#blog-github {
  top: 2%;
  right: 2%;
  width: 48px;
  transition-duration: 0.5s;
}

#blog-github:hover {
  transform: rotate(180deg);
}

#blog-side-right {
  position: fixed;
  left: 48px;
  top: 30%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1500px) {
  #collapse {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #blog-side-right {
    position: static;
    padding-top: 0;
  }
}

#blog-center {
  width: 50%;
  background-color: #fff;
}

.card-img {
  height: 10rem;
  object-fit: contain;
}

.card {
  border: none;
}

footer {
  position: relative;
  height: 160px;
}

#blog-footer-inner {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.container-main {
  max-width: 800px;
}
