.categories {
	ul {
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
		list-style: none;
		padding-left: 0px;
		padding-right: 0px;

		li {
			text-transform: uppercase;
			margin-bottom: 1rem;
			text-align: center;
		}
	}
}
