html,
body,
#root {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #303337;
}

::-webkit-scrollbar {
  display: none;
}

.blog-title {
  padding-top: 4em;
  padding-bottom: 4em;
}

.blog-container {
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
}

#blog-github {
  top: 2%;
  right: 2%;
  width: 48px;
}

#blog-wrapper {
  height: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex: 1;
}

#blog-side-left,
#blog-side-right {
  width: 320px;
}

#blog-center {
  width: 50%;
}

footer {
  position: relative;
  height: 160px;
}

#blog-footer-inner {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

* {
  color: #bbb;
}
