@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import "node_modules/bootstrap/scss/bootstrap";

// =====[ Markdown re-define ]=====
* {
  font-family: "Noto Sans KR", sans-serif;
}

code {
  background-color: #eee;
  border-radius: 2px;
  padding: 2px;
  color: #004;
  font-weight: 400;
}

blockquote {
  background-color: #ccc8;
  padding: 0.5rem;
  padding-left: 1rem;
  border-left: 4px solid #aaa;
}

.blog-post h1 {
  margin-top: 3rem;
}

.blog-post h2 {
  margin-top: 2rem;
}

.blog-post h3 {
  margin-top: 1rem;
}

.blog-post p {
  line-height: 1.8;
  word-break: keep-all;
}

.blog-post li {
  line-height: 2;
}

.blog-post table {
  width: 90%;
}

.blog-post th,
.blog-post td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

// ================================

html,
body,
#root {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #fbfbfc;
}

.blog-title {
  padding-top: 4em;
  padding-bottom: 4em;
}

#blog-github {
  top: 2%;
  right: 2%;
  width: 48px;
  transition-duration: 0.5s;
}

#blog-github:hover {
  transform: rotate(180deg);
}

#blog-wrapper {
  height: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex: 1;
}

#blog-side-left,
#blog-side-right {
  width: 320px;
  padding-top: 5rem;
}

#blog-center {
  width: 50%;
  background-color: #fff;
}

#navbar {
  border-bottom: solid 2px #ddd;
}

.card-img {
  height: 10rem;
}

.card {
  border: none;
}

footer {
  position: relative;
  height: 160px;
}

#blog-footer-inner {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

// I added this VSCode-like status bar just for fun.
#bar {
  position: fixed;
  width: 100%;
  bottom: 0px;
  display: flex;
}

#bar-r,
#bar-l {
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 0.8em;
  font-weight: 100;
}

#bar-l {
  background-color: rgb(22, 130, 93);
}

#bar-r {
  background-color: rgb(0, 122, 204);
  flex: 1;
}
