.title {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.post-title {
  margin-top: 10rem;
}

.container {
  max-width: 800px;
}

#toc {
  position: fixed;
  top: 50%;
  margin-left: 64px;
  left: 0;
}

@media (max-width: 1500px) {
  #toc {
    position: static;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

// =====[ Markdown re-define ]=====
* {
  font-family: "Noto Sans KR", sans-serif;
}

code {
  background-color: #eee;
  border-radius: 2px;
  padding: 2px;
  color: #004;
  font-weight: 400;
}

blockquote {
  background-color: #ccc8;
  padding: 0.5rem;
  padding-left: 1rem;
  border-left: 4px solid #aaa;
}

.blog-post {
  h1 {
    margin-top: 3rem;
  }

  h2 {
    margin-top: 2rem;
  }

  h3 {
    margin-top: 1rem;
  }
  p {
    line-height: 1.8;
    word-break: keep-all;
  }

  li {
    line-height: 2;
  }

  table {
    width: 90%;
  }

  th,
  td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  img {
    width: 80%;
    margin-left: 10%;
  }

  a {
    text-decoration: underline;
  }
}

#adjPosts {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
