.aboutpage {
    h1 {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    p {
        margin-bottom: 0.1rem;
        margin-top: 1.5rem;
    }

    a {
        position: relative;
    }

    a::after {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0rem;
        content: '';
        background-color: #8888ff38;
        height: 10px;
        height: 0.4rem;
    }
}
